body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
  }
  h1{
    font-size: 5em;
    text-align: right;
    padding: 0.5em;
  }
  #catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
;
  }
  .book {
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: left;
    background: #fff;
  }
  .book img {
    width: 100%;
    height: auto;
  }
  .out-of-stock {
    color: rgb(164, 12, 12);
    font-weight: bold;
  }
  .not-available {
    opacity: 0.5;
  }
  